# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Node
node_modules/
.next/

# Model weights & large files
model/
*.pt
*.pth
dataset.zip
dataset1.zip

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Temp
temp_*
served_index.html
